main > .container {
    padding-top: 60px;
    min-width: 1320px;
}

.death-knight {
    color: #C41E3A;
}

.demon-hunter {
    color: #A330C9;
}

.druid {
    color: #FF7C0A;
}

.hunter {
    color: #AAD372;
}

.mage {
    color: #3FC7EB;
}

.monk {
    color: #00FF98;
}

.paladin {
    color: #F48CBA;
}

.priest {
    color: #000000;
}

.rogue {
    color: #FFF468;
}

.shaman {
    color: #0070DD;
}

.warlock {
    color: #8788EE;
}

.warrior {
    color: #C69B6D;
}

#cooldown-table tbody td div {
    width: 43%;
    min-height: 20px;
    display: inline-block;
}

#cooldown-table tbody tr.phase {
    background-color: #CFCFCF;
}

td.ui-droppable-hover {
    background-color: #00FF98;
}

i {
    cursor: pointer;
}