<tr class="phase" data-step="{{ id }}">
    <td class="step-index"></td>
    <td>
        <select class="form-contol" name="color">
            <option value="F60000">Red</option>
            <option value="FFA500">Orange</option>
            <option value="FFFF00">Yellow</option>
            <option value="008000">Green</option>
            <option value="0000FF">Blue</option>
            <option value="4B0082">Indigo</option>
            <option value="EE82EE">Violet</option>
            <option value="C0C0C0">Grey</option>
        </select>
    </td>
    <td>
        <input type="text" name="time" class="form-control" value="00:00" />
    </td>
    <td>
        <div style="width:100%;">
            <input class="form-control" type="text" name="description" value="{{ description }}" />
        </div>
    </td>
    <td>
        <div class="col">
            <p>Triggered By</p>
            <select class="form-control form-inline" name="triggered_by">
                <option value="boss_ability">Ability</option>
                <option value="boss_health">Health %</option>
            </select>
        </div>
        <div class="col">
            <p>Spell ID or Percent</p>
            <input class="form-control form-inline" type="text" name="triggered_by_value" placeholder="#" />
        </div>

        <p>Triggered Count</p>
        <div class="col">
            <input class="form-control form-inline" type="text" name="triggered_by_count" placeholder="#" />
            <small>If boss applies a debuff to <em>n</em> players, enter that here.</small>
        </div>
    </td>
    <td>
        <i class="bi-x-circle-fill close-button"></i>
    </td>
</tr>