<h2>Abilities</h2>
<div class="row">
    <div class="col-md-6">
        <h3 class="raid">Raid</h3>
        <div class="raid-abilities"></div>
        <h3 class="death-knight">Death Knight</h3>
        <div class="death-knight-abilities"></div>
        <h3 class="demon-hunter">Demon Hunter</h3>
        <div class="demon-hunter-abilities"></div>
        <h3 class="druid">Druid</h3>
        <div class="druid-abilities"></div>
        <h3 class="hunter">Hunter</h3>
        <div class="hunter-abilities"></div>
        <h3 class="mage">Mage</h3>
        <div class="mage-abilities"></div>
        <h3 class="monk">Monk</h3>
        <div class="monk-abilities"></div>
    </div>
    <div class="col-md-6">
        <h3 class="paladin">Paladin</h3>
        <div class="paladin-abilities"></div>
        <h3 class="priest">Priest</h3>
        <div class="priest-abilities"></div>
        <h3 class="shaman">Shaman</h3>
        <div class="shaman-abilities"></div>
        <h3 class="warlock">Warlock</h3>
        <div class="warlock-abilities"></div>
        <h3 class="warrior">Warrior</h3>
        <div class="warrior-abilities"></div>
    </div>
</div>